@import "../includes/_includes.scss";
@import "../includes/_main-footer.scss";
@import "includes/_main-header.scss";
@import "includes/_brands.scss";
@import "includes/_bottom-bar.scss";
@import "includes/_responsive.scss";
@import "includes/_products-list.scss";
@import "includes/_products-pagination.scss";




.client-path {
    font-size: 14px;
    a {
        display: inline-block;
        padding: 0 7px;
        color: rgb(70, 70, 70) !important;
    }
}









.profile {
    .avatar {
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
    .uid {
        text-align: center;
        font-size: 15px;
        color: rgb(117, 117, 117);
        font-weight: bold;
        padding: 5px 0;
        font-family: "Rubik";
    }
    .personal-informations {
        box-shadow: -1px 1px 15px #dedede;
        label {
            font-size: 13px;
            font-weight: bold;
            margin: 0;
            color: rgb(112, 112, 112);
        }
    }




}
