@import "../includes/_includes.scss";
@import "../includes/_main-footer.scss";
@import "includes/_main-header.scss";
@import "includes/_brands.scss";
@import "includes/_bottom-bar.scss";
@import "includes/_responsive.scss";
@import "includes/_products-list.scss";
@import "includes/_products-pagination.scss";



.client-path {
    font-size: 14px;
    a {
        display: inline-block;
        padding: 0 7px;
        color: rgb(70, 70, 70) !important;
    }
}


.product-page {

    .gallery {            
        img {
            padding: 5px;
            max-width: 90px;
            margin: 10px 0;
            cursor: pointer;
            &.active {
                border: 2px solid $mainColor;
                border-radius: 5px;
            }
        }
    }
    
    .rating {
        i {
            font-size: 13px;
            color: rgb(246, 202, 8);
        }
    }

    .share {
        .icon {
            width: 40px;
            height: 40px;
            border-radius: 4px;
            display: inline-block;
            text-align: center;
            transition: .2s ease-in-out;
            i {
                color: #fff;
                line-height: 40px;
                font-size: 20px;
            }
            &.bg-fb {
                background-color: rgb(34, 99, 219);
                &:hover {
                    background-color: rgb(71, 127, 231);
                }
            }
            &.bg-pinterest {
                background-color: rgb(185, 52, 103);
                &:hover {
                    background-color: rgb(192, 76, 120);
                }
            }
            &.bg-twitter {
                background-color: rgb(60, 168, 240);
                &:hover {
                    background-color: rgb(115, 191, 241);
                }
            }
           
        }
    }

    .heading {
        font-size: 17px;
        font-weight: bolder;
        color: #141414;
        font-family: 'Rubik';
    }
    
    .price .value {
        font-size: 25px;
        font-family: 'Rubik';
        font-weight: bolder;
        color: $mainColor;
    }

    select {
        padding: 5px 15px;
        border-radius: 3px;
        background: none;
        border-color: rgb(207, 207, 207);
    }

    .testimonials {
        width: 75%;
        margin: auto;
        .comments {
            .comment {
                .name {
                    font-size: 20px;
                    font-family: "Rubik";
                    font-weight: bolder;
                    color: rgb(70, 70, 70);
                    float: left;

                }
                .rating {
                    transform: translate(13px,-8px);
                }
            }
        }
    }
    


}
