

// ------------------------- start header ----------------------
.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
    box-shadow: -1px 2px 17px #acacac;
    .upper-bar {
        display: none;
    }
    .header-nav {
        padding-top: 15px !important;
    }
}




header {

    // ------------------- start upper bar  -------------
    .upper-bar {
        background-color: rgb(51, 51, 51);
        padding: 10px 20px;
        font-size: 13px;
        color: #ddd;
        a {
            color: #ddd;
        }
    }
    // ------------------- end upper bar  -------------




    // ---------------------- start header nav ------------
    .header-nav {
        .header-brand {
            img {
                width: 125px;
            }
        }
        .search-product {
            .form-group {
                position: relative;
                overflow: hidden;
                border-radius: 3px !important;
    
                .form-control {
                    padding: 25px 10px !important;
                }
                button[type="submit"] {
                    background-color: $mainColor;
                    color: #fff;
                    border: none;
                    padding: 13px 20px !important;
                    position: absolute;
                    right: 0;
                    transform: translateY(-52px);
                    border: 1px solid $mainColor;
                    transition: .3s ease-in-out;
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                    &:hover {
                        background-color: transparent !important;
                        i {
                            color: $mainColor;
                        }
                    }
                }
            }   
        }
        .action-list {
            float: right;
            padding: 5px 0;
            li {
                list-style: none;
                display: inline-block;
                text-align: center !important;
                padding: 0 15px;
                font-size: 13px;
                i {
                    font-size: 22px;
                    color: rgb(94, 94, 94);
                }
                > a {
                    color: inherit !important;
                    text-decoration: none !important;
                }
                .cart {
                    position: relative;
                    .cart-count {
                        position: absolute;
                        top: -15px;
                        right: -10px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: $mainColor;
                        color: #fff;
                        font-weight: bold;
                    }
                }
                .dropdown-menu {
                    width: 320px;
                    left: -130px !important;
                    box-shadow: -1px 2px 13px #acacac;

                    .form-control {
                        padding: 20px 15px;
                    }
                    label {
                        font-size: 12px;
                        font-weight: bold;
                        margin: 0 !important;
                    }
                    .links {
                        .link {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0; 
        }
        .categories-toggler {
            i {
                font-size: 23px;
            }
        }
    
    }
    // ------------------ end header nav ---------------------





    // start menu categories dektop version-- 
    .menu-categories {
        border: 1px solid #e1e1e1;
        ul {
            position: relative;
            margin: 0 !important;
            .menu-item {
                list-style: none;
                display: inline-block;
                padding: 15px;
                font-size: 14px;
                text-align: center;
                transition: .2s ease-in-out;
                z-index: 999;
                &.active {
                    background-color: $mainColor;
                    a, a i { 
                        color: #fff; 
                    }

                }
                &.dropdown:hover > .dropdown-menu, &.dropleft:hover .dropdown-left {
                    display: block !important;
                    margin: 0;
                }
                .dropdown-menu .dropdown-item {
                    padding: 10px 20px;
                    i {
                        padding-right: 7px;
                    }                    
                }
                > a, .dropdown-toggle {
                    text-transform: uppercase;
                    font-weight: bold;
                    color: rgb(78, 78, 78);
                    text-decoration: none;
                    
                    &::after {
                        display: none;
                    }
                    i {
                        color: rgb(97, 97, 97);
                        font-size: 15px;
                        padding-left: 7px;
                    }
                    
                }
                &:hover {
                    background-color: $mainColor;
                    > a, > a i, > .dropdown-toggle, > .dropdown-toggle i {
                        color: #fff;
                    }
                    > .sub-menu-block {
                        opacity: 1;
                        visibility: visible;
                        box-shadow: -1px 2px 17px #acacac;
                        border: 1px solid #999;
                    }
                }
               
            }
        }
    }
    // end menu categories dektop version-- 
    




    // start menu categories mobile version --
    .sm-menu-categories {
        position: absolute;
        width: 100%;
        top: 120px;
        background: #fff;
        display: none;
        z-index: 99;
        .sm-links-list {
            border: 1px solid #ccc;
            border-radius: 3px;
            li {
                list-style: none;
                padding: 15px 20px;
                text-transform: uppercase;
                font-size: 14px;
                a {
                    color: inherit;
                }
                &:hover {
                    background-color: #f3f3f3;
                   
                }
            }
        }
        .sm-sub-menu-block {
            display: none;
            .subcat-heading {
                font-size: 20px;
                text-transform: uppercase;
                font-size: 14px;
                padding: 10px 20px;
                color: $mainColor;
            }
            ul {
                display: none;
                li {
                    padding: 10px 45px;
                }
            }
        }
    }
    // start menu categories mobile version --





    // start sub menu desktop version 
    .sub-menu-block {
        border-bottom: 1px solid #ccc;
        padding: 25px 0;
        text-align: left !important;
        position: absolute;
        left: 0;
        padding: 45px 60px;
        width: 100%;
        opacity: 0;
        transition: .15s ease-in-out;
        background-color: #fff;
        z-index: 999;
        margin-top: 20px;
        visibility: hidden;
        .subcat-heading {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
            color: rgb(66, 66, 66);
        }
        
        li {
            list-style: none;
            padding: 7px 0;
            a {
                color: rgb(126, 126, 126) !important;
                font-size: 13px !important;
            }
        }
    }
    // end sub menu desktop version 





}
