@import "../../../assets/css/includes/_includes.scss";


@import '_inc.scss';

.order-box {
    th {
        text-transform: capitalize;
    }
    .product-title {
        font-size: 15px;
        font-weight: 800;
        a {
            color: inherit !important;
        }

    }
    .unit-price {
        color: $mainColor;
        font-weight: bold;
        font-size: 17px;
    }
    .quantity {
        font-weight: bold;
        font-size: 19px;
        span {
            color: rgb(122, 122, 122);
            font-size: 12.5px;
            font-style: italic;
        }
    }
    .total-price {
        color: rgb(223, 11, 64);
        font-size: 22px;
        font-weight: bold;
    }
    .order-products {
        ul {
            padding-left: 15px;
            li {
                color: rgb(109, 109, 109);
                a {
                    color: inherit;
                    font-size: 14px;
                }
            }
        }
    }
    .delivried {
        color: green;
        font-weight: 850;
    }
    .pending {
        color: rgb(78, 93, 180);
        font-weight: 850;
    }
    .date {
        font-weight: bold;
        
    }
    .shipping-infos {
        font-size: 15px;
        color: rgb(100, 100, 100);
    }
    .track {
        font-weight: bold;
        color: rgb(45, 116, 138);
        font-size: 17px;
    }
    .shipping-mode {
        font-weight: bold;
        font-style: italic;
        font-size: 18px;
        color: rgb(117, 117, 117);
    }
}