@import "../../../assets/css/includes/_includes.scss";
// @import "../includes/_main-footer.scss";


.special-heading {
    font-size: 20px !important;
}
table {
    tr:first-child th{ text-transform: uppercase; font-size: 12px; font-weight: bold; }
    &.products-table {
        tr:first-child {
            background-color: rgb(68, 68, 68);
            th {
                color: #fff;
            }
        }
        tr:not(:first-child) {
            background-color: rgb(255, 255, 255);
            &:hover {
                background-color: #f5f5f5;

            }
        }

    }
    td {
        color: rgb(133, 133, 133);
        font-size: 14px;
        font-weight: 500;
    }
    .product-img {
        img { height: 60px; }
    }
    .product-thumbnail {
        width: 50px;
        height: 50px;
        border: 1px solid black;
        img {
            width: 100%;
        }
    }
    .avatar {
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
    .price {
        font-size: 15px;
        color: #000;
        font-weight: bold;
    }
    .status {
        &.payed {
            color: rgb(39, 150, 39);
            font-weight: bold;
            font-size: 15px;
        }
        &.reimbursed {
            color: rgb(233, 25, 70);
            font-weight: bold;
            font-size: 15px;
        }
    }
}

.login {
    max-width: 450px;
    margin: auto;
    .form-control {
        padding: 25px 10px !important;
    }
}



.admin-nav {
    height: 70px;
    box-shadow: 1px -1px 9px #ccc;
    
    .nav-brand {
        line-height: 70px;
        img {
            width: 100px;
        }
    }
    .search-form {
        .form-group {
            position: relative;
            button {
                position: absolute;
                border: none;
                background: none;
                top: 12px;
                right: 15px;
                color: rgb(121, 121, 121);
                transition: .5s ease-in-out;
                font-size: 20px;
                &:hover {
                    color: $mainColor;
                }
            }
        }
    }
    .user-avatar {
        padding-top: 6px;
        .uid {
            font-size: 13px;
            font-weight: bold;
            font-family: 'Montserrat';
        }
        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }

}



.main-row {
    background-color: #f5f5f5;
    .main-sidebar {
        min-height: 100% !important;
        background-color: #fff;
        .avatar {
            .img img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            .user {
                .name {
                    font-weight: bold;
                    font-family: "Rubik";
                }
                .admin {
                    font-size: 13px;
                    font-family: "Montserrat";
                }
            }
            
        }
        .side-nav {
            > ul {
                padding: 0 !important;
                > li {
                    border-radius: 5px;
                    list-style: none;
                    margin: 5px 0;
                    position: relative;
                    overflow: hidden;
                    border-bottom: 1px solid #ccc;
                    padding: 10px 15px;
                    a {
                        transition: .4s ease-in-out;
                        text-decoration: none;
                        color: rgb(119, 119, 119) !important;
                        display: block;
                        font-family: "Roboto";

                        &:hover {
                            padding-left: 7px;
    
                        }
                        i {
                            padding-right: 10px;
                        }
                    }
                }
            }
            .sub-ul {
                display: none;
                padding-top: 15px;
                li {
                    list-style: none;
                    padding: 5px 0;
                }
            }
          
        }
    }
    .page-content {
        min-height: calc(100vh - 70px);     
    }


    .stats {
        .col-md-3 {
            &:first-child {
                padding-left: 15px !important;            

            }
            &:last-child {
                padding-right: 15px !important;

            }
            padding-left: 2px !important;            
            padding-right: 2px !important;

        }
        .stat-box {
            padding: 35px 10px;
            border-radius: 5px;
            box-shadow: 0 6px 10px rgba(0, 0, 0 , .1);
            &.bg-clr-1 {
                background-color: #13aaf9 !important; 
            }
            &.bg-clr-2 {
                background-color: #968cec !important;
            }
            &.bg-clr-3 {
                background-color: #f5a1e2 !important;
            }
            &.bg-clr-4 {
                background-color: #f8bb90 !important;
            }
            i {
                font-size: 48px;
                color: #fff;
            }
            .value {
                color: #fff;
                font-size: 22px;
                font-family: "Open Sans";
                font-weight: bold;
            }
            .txt {
                padding-top: 15px;
                color: #eee;
                font-size: 11px;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
}




body {
    overflow-x: hidden;
}