* {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    outline: none !important;
}




// ----------------------------- start variables -------------------
// $mainColor : rgb(189, 8, 8);
$mainColor : #bb2828;
// -------------------------------- end variables ------------------

.main-txt {
    color: $mainColor !important;
}




// ---------------------------------- start buttons ----------------


%button {
    display: inline-block;
    padding: 11px 18px;
    font-size: 15px;
    text-decoration: none !important;
    font-weight: 600;
    cursor: pointer;
    border-radius: 3px;
    transition: .3s ease-in-out
}

%transparentButton {
    @extend %button;
    background: transparent;  
    transition: .2s ease-in-out;  
    &:hover {
        color: initial !important;
    }
}
.white-transparent-button {
    @extend %transparentButton;
    color : #fff !important;
    border:1px solid #fff !important;
    &:hover {
        color: #fff !important;
    }
}
.black-transparent-button {
    @extend %transparentButton;
    color : black;
    border:1px solid black;
   
}
.red-button {
    @extend %button;
    color: #fff !important;
    background: $mainColor;
    border:1px solid $mainColor;
}
.btn-pay {
    background-color: $mainColor;
    height: 60px;
    color: #ffffff !important;
    font-weight: bold;
    text-decoration: none !important;
}

.btn-pay:hover, .red-button:hover {
    background-color: rgb(134, 41, 41)
}


// ---------------------------------- end buttons ----------------







// --------------------------------- start essential edits -----------
.bg-gray {
    // background: #eee !important;
    background: #eee;
}
.bg-fff {
    background-color: #fff;
}


.my-container {
    width: 95%;
    margin: auto;
}
p {
    line-height: 2.1;
    color: rgb(85, 85, 85);
    font-size: 15px;
}
// ---------------------------------- end essential edits ------------










// ------------------------------------ start texts ------------
%specialHeading { 
    // text-transform: uppercase;
    font-weight: bold;
    font-family: "Roboto";
    z-index: 99999;
    color: rgb(85, 85, 85);
}
.special-heading {
    @extend %specialHeading;
    font-size: 30px;
    font-weight: bold !important;
    font-family: "Montserrat" !important;
    span {
        font-family: "Montserrat" !important;
        color: $mainColor;
    }

}

.special-white-heading {
    @extend .special-heading;
    color: #fff !important;
    span {
        color: #f34242 !important;
    }
    &::after {
        background-color: #f34242 !important;
    }
}
.sub-heading {
    font-size: 14px;
    font-style: italic;
    font-family: 'Lobster Two';
}
// -------------------------------------- end texts --------------



















// ----------------------------------------- start owl carousel reset
.owl-carousel {
    

    .owl-dots {
        text-align: center;
        button {
            border: 1px solid $mainColor;
            padding: 7px !important;
            border-radius: 50%;
            transition: .2s ease-in-out;
            margin: 0 5px;
            &.active {
                background-color: $mainColor;
            }
        }
    }
}
// ----------------------------------------- end owl carousel reset


















// --------------------- start newsletter subscribe ------------
.newsletter-subscribe {
    position: relative;
    button[type="submit"] {
        position: absolute;
        top: 1px;
        right: 0;
    }

}
// --------------------- end newsletter subscribe ------------
